## Semana 1

### Exportar a tabela de dados unidos como csv.

In [1]:
# bibliotecas usadas:
import mysql.connector as sql # fazer a conexão com o MySQL
import pandas as pd # manipulação dos dados

# opcional (ocutar alguns alertas)
import warnings
warnings.filterwarnings('ignore')

# conexão
db_connection = sql.connect(host='127.0.0.1', database='aluracash', user='root', password='senha123')

In [2]:
# testar conexao
pd.read_sql('SELECT * FROM id', con=db_connection)

           person_id        loan_id          cb_id
0      JAz2tRvQ-14cy  pjEu6snv-4t33  FIgNSkrG-wen7
1      MZSefq9m-loYS  Mfn0Csx4-LGM3  QPDJUQfQ-DJqK
2      cRItaaPB-pRvT  Ks4nz74P-z6Iq  hzAXqSDh-ay7Q
3      5jTDCfXS-zaAq  ZFlwW08i-I3Al  LiAivrS4-J5DE
4      Hbz9PtI3-tOFs  bFMFchcv-UwQW  PkBixMJ3-3bad
...              ...            ...            ...
34484  Emrjvfln-4Xz8  2wa74BRB-udgG  0NdUeeag-8uUM
34485  O3O8Xy1q-kYuY  hBgRbkij-SxBx  7uLfG8jh-hSKn
34486  cGTlY5HE-cc7n  8pmN3PGl-ioqE  vXFyISYO-X37e
34487  C1IPuCA3-Bvoi  M0nyiidf-IiKb  arPDkTuB-5e5x
34488  2OjPj0Cv-Ohe3  XCwnpXOc-QxGQ  lUcqMLJE-pqLe

[34489 rows x 3 columns]

In [3]:
# exportar para formato csv
tabela_aluracash = pd.read_sql(
"""SELECT PESSOA, IDADE, RENDIMENTO_ANUAL, SITUACAO_PROPRIEDADE, ANOS_TRABALHADOS, EMPRESTIMO, MOTIVO_EMPRESTIMO, PONTUACAO, VALOR_EMPRESTIMO, JUROS, POSSIB_INADIMPLENCIA, EMPRESTIMO_PERC_RENDA_ANUAL, SOLICITACAO, INADIMPLENTE, ANOS_PRIMEIRO_CREDITO
    FROM id
    INNER JOIN dados_mutuarios
    on id.person_id = dados_mutuarios.PESSOA
    INNER JOIN emprestimos
    on id.loan_id = emprestimos.EMPRESTIMO
    INNER JOIN historicos_banco
    on id.cb_id = historicos_banco.SOLICITACAO
    AND PESSOA != ''""", con=db_connection)

tabela_aluracash.to_csv(('tabela_aluracash.csv'), sep=';', index=False)